.shopbyme-section{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    margin: 2rem 0rem;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 3rem 0rem;
}
.diamonds-heading{
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
   margin: 2rem 0rem

}
.diamonds-types{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4rem;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;

}
.sbm-heading-section{
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: left;
    border-right: 1px solid rgba(244, 130, 31, 1);
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.sbm-heading-section h1{
    font-size: 30px;
}

.sbm-routing-section{
    padding: 0rem 2rem;
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 5rem;
    row-gap: 2rem;
}
.sbm-sub-section img{
     width: 5rem;
     height: 5rem;
}
.sbm-sub-section p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    margin-top: 1rem;

}


/* Responsive */

@media (min-width: 360px) and (max-width: 600px) {
    .shopbyme-section{
        /* border: 1px solid black; */
        padding: 0rem 0rem;
        display: grid;
        grid-template-columns: 100%;
        margin: 0rem;
        
    }
    .sbm-heading-section{
        text-align: center;
        font-family: inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
    

        
    }
    .sbm-routing-section{
        padding: 0rem 1rem;
        /* border: 1px solid green; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: 1rem;
        margin-top: 1rem;
        row-gap: 1rem;
    }
    .sbm-sub-section img{
         width: 3rem;
         height: 3rem;
    }
    .sbm-sub-section p{
        font-family: Roboto;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
    }
    

}