.but{
    width: 20%;
}
@media screen and (max-width:400px) {
    .but{
        width: 100%;
        margin: 30px;
    }
}
.cont1{
    margin-bottom: 20px;
}
@media screen and (max-width:400px) {
    .cont1{
        margin-bottom: 30%;
    }
}
.fontco{
    color: white;
}